<div class="sidebar">
  <div class="sidebar-inner">
    <!-- ### LOGO ### -->
    <div class="sidebar-logo p-3">
      <div class="d-flex align-items-center justify-content-between">
        <a class="sidebar-link text-decoration-none d-flex align-items-center" href="/home">
          <img src="{{ url_for('static', filename='assets/images/logo-findway.jpg') }}" alt="Logo" style="width: 35px; margin-right: 10px;">
          <h5 class="m-0 text-white">Findway</h5>
        </a>
        <div class="mobile-toggle sidebar-toggle">
          <a href="#" class="text-white">
            <i class="ti-close"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- ### MENU PRINCIPAL ### -->
    <ul class="sidebar-menu scrollable pos-r">

      <!-- Painel Geral -->
      <li class="nav-item mt-3">
        <a class="sidebar-link" href="/home">
          <span class="icon-holder"><i class="ti-bar-chart"></i></span>
          <span class="title">Home</span>
        </a>
      </li>

      <!-- Visualização dos Veículos -->
      <li class="nav-item">
        <a class="sidebar-link" href="/veiculos">
          <span class="icon-holder"><i class="ti-location-pin"></i></span>
          <span class="title">Veículo</span>
        </a>
      </li>

      <!-- Clientes -->
      <!-- <li class="nav-item">
        <a class="sidebar-link" href="/clientes">
          <span class="icon-holder"><i class="ti-user"></i></span>
          <span class="title">Clientes</span>
        </a>
      </li> -->

      <!-- Relatórios -->
      <!-- <li class="nav-item">
        <a class="sidebar-link" href="/relatorios">
          <span class="icon-holder"><i class="ti-clipboard"></i></span>
          <span class="title">Relatórios</span>
        </a>
      </li> -->

      <!-- Monitoramento em Tempo Real -->
      <li class="nav-item">
        <a class="sidebar-link" href="/monitoramento">
          <span class="icon-holder"><i class="ti-pulse"></i></span>
          <span class="title">Tempo Real</span>
        </a>
      </li>

      <!-- Administração (somente administradores) -->
      <li class="nav-item">
        <a class="sidebar-link" href="/admin">
          <span class="icon-holder"><i class="ti-lock"></i></span>
          <span class="title">Administração</span>
        </a>  
      </li>

      <!-- Links úteis -->
      <li class="nav-item mt-4">
        <hr class="text-secondary" style="opacity: 0.2;">
        <small class="text-uppercase text-secondary ms-3">Links Úteis</small>
      </li>

      <li class="nav-item">
        <a class="sidebar-link" href="/" target="_blank">
          <span class="icon-holder"><i class="ti-world"></i></span>
          <span class="title">Contatos</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="sidebar-link" href="/ajuda">
          <span class="icon-holder"><i class="ti-help-alt"></i></span>
          <span class="title">Central de Ajuda</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="sidebar-link" href="/config">
          <span class="icon-holder"><i class="ti-settings"></i></span>
          <span class="title">Configurações</span>
        </a>
      </li>
    </ul>
  </div>
</div>
